/*
object, img, iframe {
  alt: Click the Fit Models Button
}

*/

h1,h4{
  text-align: center;
}

#Instructions {
  text-align: center;
  padding: 100px;
  color: red;
  font-size: large;
  font-variant: small-caps;
}